# Ignore node_modules in both frontend and backend
node_modules/

# Ignore environment files
.env
frontend/.env
backend/.env

# Ignore build and dependencies folders
dist/
build/

# Ignore logs and debug files
logs/
*.log
npm-debug.log*
yarn-debug.log*
