/* Default Light Mode */
:root {
  --bg-color: #ffffff;
  --text-color: #111;
  --primary-color: #f4a261;
  --hero-bg: #6b6b6b; /* Light mode main background */
  --hero-secondary: #4a4a4a; /* Light mode diagonal secondary */

  --card-bg: #ffffff;
  --border-color: #ddd;
  --text: #222;
  --primary-btn: #ff2e00;
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #ffffff;
  --primary-color: #f4a261;
  --hero-bg: rgba(0, 0, 0, 0.5); /* Dark mode background */
  --hero-secondary: #000000; /* Dark mode diagonal color */

  --card-bg: #1e1e1e;
  --border-color: #444;
  --text: #f1f1f1;
  --primary-btn: #ff2e00;

}

.hero-content {
  background: linear-gradient(to bottom left, var(--hero-bg) 50%, var(--hero-secondary) 50%);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}
